/*nesting sass*/

.un-fave{
  font-size: 18px;
  font-family: "Courier", times, sans-serif;
    h2{
      font-size: 30px;
      font-family: "Times New Roman", times, serif;
      color: #800000;
    }
    ul{
      font-size: 22px;
      color:#993333;
    }

}
