/*nesting sass*/

.un-fave {
	 font-size: 18px;
	 font-family: "Courier", times, sans-serif;
}
 .un-fave h2 {
	 font-size: 30px;
	 font-family: "Times New Roman", times, serif;
	 color: #800000;
}
 .un-fave ul {
	 font-size: 22px;
	 color: #c06;
}
